**
!pyproject.toml
!requirements.txt
!requirements.lock
!README.md
!LICENSE
!server/
!server/**
!data/
!data/fsm/
!data/fsm/**
!web/
!web/package.json
!web/package-lock.json
!web/index.html
!web/*.ts
!web/*.js
!web/*.json
!web/src/
!web/src/**
**/__pycache__/
**/*.pyc
